﻿@model Parser.Data.Shop

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить магазин</h1>

<h3>Вы уверены что хотите его удалить?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ShopId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку товаров</a>
    </form>
</div>
