﻿@model Parser.Data.Shop

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ShopId">Изменить</a> |
    <a asp-action="Index">Вернуться к списку магазинов</a>
</div>
