﻿@model IEnumerable<Parser.Data.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Товары</h1>

<p>
    <a asp-action="Create">Добавить новый товар</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)  
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Удалить</a> |
            </td>
        </tr>
}
    </tbody>
</table>
